﻿@model CodeRedeem.Models.CouponCode

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CouponCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedeemOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedeemOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
