﻿@model IEnumerable<CodeRedeem.Models.CouponCode>

@{
    ViewData["Title"] = "QrCodeGrid";
}






<div class="row" style="margin-top:50px">
    @for (var i = 0; i < Model.Count() / 6; i++)
    {
        foreach (var item in Model.Skip(i * 6).Take(6))
        {
            <div class="col-md-2">
                <div id="@item.Id">

                </div>
                @item.Sku
            </div>
        }

    }

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/qrcode/jquery.min.js"></script>
    <script src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">
    @foreach (var item in Model)
    {

        <text>new QRCode(document.getElementById("@item.Id"), { text: "@item.Code", height: 100, width: 100, correctLevel: QRCode.CorrectLevel.H});</text>
    }

    </script>
}